 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 818px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 848px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-slider-1 {
  min-height: 762px;
  margin-top: 32px;
  margin-bottom: 0;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: 22px;
}

.u-section-1 .u-image-1 {
  background-position: 46.71% 58.99%;
  background-image: url("images/12.png");
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-group-1 {
  width: 626px;
  min-height: 292px;
  background-image: none;
  margin: 410px auto 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 23px 40px 10px;
}

.u-section-1 .u-text-1 {
  font-family: Noot;
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1rem;
  font-family: Noot;
  margin: 7px 0 0;
}

.u-section-1 .u-social-icons-1 {
  height: 45px;
  min-height: 16px;
  width: 155px;
  min-width: 68px;
  white-space: nowrap;
  margin: 7px auto 0;
}

.u-section-1 .u-icon-1 {
  color: rgb(59, 89, 152) !important;
}

.u-section-1 .u-icon-2 {
  height: 100%;
  color: rgb(210, 34, 21) !important;
}

.u-section-1 .u-icon-3 {
  height: 100%;
  color: rgb(247, 82, 25) !important;
}

.u-section-1 .u-image-2 {
  background-image: url("images/2.png");
  background-position: 50% 26.63%;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 43px;
}

.u-section-1 .u-group-2 {
  width: 625px;
  min-height: 339px;
  background-image: none;
  margin: 335px auto 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 17px 40px;
}

.u-section-1 .u-text-3 {
  font-family: Noot;
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 0;
}

.u-section-1 .u-text-4 {
  font-size: 1rem;
  font-family: Noot;
  margin: 8px 0 0;
}

.u-section-1 .u-social-icons-2 {
  height: 45px;
  min-height: 16px;
  width: 155px;
  min-width: 68px;
  white-space: nowrap;
  margin: -11px auto 0;
}

.u-section-1 .u-icon-4 {
  color: rgb(59, 89, 152) !important;
}

.u-section-1 .u-icon-5 {
  color: rgb(197, 54, 164) !important;
}

.u-section-1 .u-icon-6 {
  height: 100%;
  color: rgb(210, 34, 21) !important;
}

.u-section-1 .u-image-3 {
  margin-left: auto;
  margin-right: auto;
  background-image: url("images/31.png");
  background-position: 50% 78.22%;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px 50px;
}

.u-section-1 .u-group-3 {
  width: 626px;
  min-height: 273px;
  background-image: none;
  margin: 392px auto 0;
}

.u-section-1 .u-container-layout-7 {
  padding: 17px 40px 23px;
}

.u-section-1 .u-text-5 {
  font-family: Noot;
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 1px 0 0;
}

.u-section-1 .u-text-6 {
  font-size: 1rem;
  font-family: Noot;
  margin: 14px 0 0;
}

.u-section-1 .u-social-icons-3 {
  height: 45px;
  min-height: 16px;
  width: 155px;
  min-width: 68px;
  white-space: nowrap;
  margin: 14px auto 0;
}

.u-section-1 .u-icon-7 {
  color: rgb(59, 89, 152) !important;
}

.u-section-1 .u-icon-8 {
  color: rgb(197, 54, 164) !important;
}

.u-section-1 .u-icon-9 {
  height: 100%;
  color: rgb(210, 34, 21) !important;
}

.u-section-1 .u-carousel-control-1 {
  width: 50px;
  height: 50px;
}

.u-section-1 .u-carousel-control-2 {
  width: 50px;
  height: 50px;
  left: auto;
  position: absolute;
  right: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 821px;
  }

  .u-section-1 .u-layout-cell-1 {
    background-position: 50% 50%;
    min-height: 851px;
  }

  .u-section-1 .u-slider-1 {
    min-height: 787px;
    height: auto;
  }

  .u-section-1 .u-carousel-indicators-1 {
    top: 27px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-text-1 {
    width: auto;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 0;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: 0;
  }

  .u-section-1 .u-group-2 {
    min-height: 359px;
    margin-top: 403px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-top: 0;
  }

  .u-section-1 .u-text-3 {
    width: auto;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 32px;
  }

  .u-section-1 .u-social-icons-2 {
    margin-top: 8px;
  }

  .u-section-1 .u-image-3 {
    margin-bottom: 1067px;
  }

  .u-section-1 .u-group-3 {
    min-height: 207px;
    margin-top: 534px;
  }

  .u-section-1 .u-container-layout-7 {
    padding: 0 25px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: -5px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-1 .u-social-icons-3 {
    margin-top: 1px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 729px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 637px;
  }

  .u-section-1 .u-slider-1 {
    min-height: 575px;
    margin-top: 0;
  }

  .u-section-1 .u-carousel-indicators-1 {
    top: 9px;
  }

  .u-section-1 .u-container-layout-3 {
    padding: 4px 24px 3px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 20px;
    margin-right: 6px;
    margin-left: 6px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: 20px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1 .u-container-layout-4 {
    padding: 12px 27px;
  }

  .u-section-1 .u-group-2 {
    min-height: 298px;
    width: 660px;
    margin-top: 271px;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 6px;
  }

  .u-section-1 .u-social-icons-2 {
    margin-top: -2px;
  }

  .u-section-1 .u-image-3 {
    background-position: 50% 50%;
    margin-bottom: 882px;
  }

  .u-section-1 .u-container-layout-6 {
    padding: 15px 18px;
  }

  .u-section-1 .u-group-3 {
    min-height: 185px;
    width: 660px;
    margin-top: 391px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 2px;
  }

  .u-section-1 .u-text-6 {
    margin-top: -4px;
  }

  .u-section-1 .u-social-icons-3 {
    margin-top: -24px;
    margin-right: 15px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 630px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 582px;
    order: 0;
  }

  .u-section-1 .u-slider-1 {
    min-height: 552px;
  }

  .u-section-1 .u-carousel-indicators-1 {
    top: 26px;
    left: 372px;
    right: auto;
  }

  .u-section-1 .u-image-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-3 {
    padding: 23px 0 10px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 7px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.75rem;
    margin-top: -3px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-social-icons-1 {
    height: 36px;
    width: 128px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-container-layout-4 {
    padding: 14px 10px;
  }

  .u-section-1 .u-group-2 {
    min-height: 252px;
    margin-top: 298px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-4 {
    font-size: 0.75rem;
    margin-top: 13px;
  }

  .u-section-1 .u-social-icons-2 {
    margin-top: 6px;
    margin-left: 122px;
  }

  .u-section-1 .u-container-layout-6 {
    padding: 9px 10px;
  }

  .u-section-1 .u-group-3 {
    min-height: 152px;
    margin-top: 376px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-text-6 {
    font-size: 0.75rem;
    margin-top: -2px;
    margin-right: 0;
    margin-left: 20px;
  }

  .u-section-1 .u-social-icons-3 {
    height: 36px;
    width: 128px;
    margin-top: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 621px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 482px;
  }

  .u-section-1 .u-slider-1 {
    min-height: 503px;
    margin-bottom: -83px;
  }

  .u-section-1 .u-carousel-indicators-1 {
    top: 12px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 4px;
    padding-bottom: 3px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-social-icons-1 {
    height: 27px;
    width: 101px;
    margin-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 11px;
    padding-bottom: 11px;
  }

  .u-section-1 .u-group-2 {
    min-height: 332px;
    margin-top: 230px;
    margin-bottom: -1px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-4 {
    margin-top: 18px;
  }

  .u-section-1 .u-social-icons-2 {
    margin-top: 15px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-group-3 {
    min-height: 155px;
    margin-top: 319px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.5rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-top: -4px;
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-1 .u-social-icons-3 {
    height: 27px;
    width: 101px;
    margin-top: -13px;
  }
}@font-face {
  font-family: 'Noot';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Noot.otf);
}