 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 789px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 60px auto 0 0;
}

.u-section-1 .u-image-1 {
  background-image: url("images/ScreenShot2020-10-05at3.47.50AM.png");
  background-position: 100% 100%;
  min-height: 344px;
  background-size: 140%;
}

.u-section-1 .u-container-layout-1 {
  padding: 20px;
}

.u-section-1 .u-image-2 {
  min-height: 345px;
  background-image: url("images/ScreenShot2021-11-25at8.49.48PM.png");
  background-position: 83.55% 0%;
  background-size: 145%;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 344px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-image-4 {
  background-image: url("images/IMG-4561filter.jpeg");
  background-position: 50% 50%;
  min-height: 344px;
}

.u-section-1 .u-container-layout-4 {
  padding: 20px;
}

.u-section-1 .u-group-1 {
  min-height: 161px;
  width: 384px;
  margin: -415px auto 60px;
}

.u-section-1 .u-container-layout-5 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-1 {
  font-family: Noot;
  font-size: 1.25rem;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 642px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    min-height: 284px;
  }

  .u-section-1 .u-image-2 {
    min-height: 284px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 284px;
  }

  .u-section-1 .u-image-4 {
    min-height: 284px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -364px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 594px;
  }

  .u-section-1 .u-image-1 {
    min-height: 218px;
  }

  .u-section-1 .u-image-2 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-image-4 {
    min-height: 218px;
  }

  .u-section-1 .u-group-1 {
    min-height: 302px;
    width: 317px;
    margin-top: -354px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1188px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 471px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-1 {
    min-height: 327px;
    order: 1;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    min-height: 206px;
    order: 0;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 237px;
    order: 1;
  }

  .u-section-1 .u-image-4 {
    min-height: 327px;
    order: 0;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-1 {
    min-height: 138px;
    margin-top: -618px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 19px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1000px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    min-height: 236px;
  }

  .u-section-1 .u-image-2 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 234px;
  }

  .u-section-1 .u-image-4 {
    min-height: 236px;
  }

  .u-section-1 .u-group-1 {
    min-height: 175px;
    margin-top: -552px;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-1 {
    margin-right: 20px;
  }
}@font-face {
  font-family: 'Noot';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Noot.otf);
}