 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-image-1 {
  min-height: 733px;
  background-image: url("images/121.png");
  background-position: 50% 50%;
}

.u-section-1 .u-custom-html-1 {
  min-height: 322px;
  margin: 62px 546px 0 26px;
}

.u-section-1 .u-custom-html-2 {
  min-height: 438px;
  margin: -322px 26px 0 604px;
}

.u-section-1 .u-custom-html-3 {
  min-height: 281px;
  background-image: none;
  margin: -108px 612px 60px 26px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    min-height: 1205px;
  }

  .u-section-1 .u-custom-html-1 {
    height: auto;
    width: 568px;
    margin-top: 47px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-custom-html-2 {
    height: auto;
    width: 505px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-custom-html-3 {
    min-height: 283px;
    height: auto;
    width: 568px;
    margin-top: 26px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    min-height: 1236px;
  }

  .u-section-1 .u-custom-html-2 {
    margin-top: 20px;
  }

  .u-section-1 .u-custom-html-3 {
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    min-height: 1206px;
  }

  .u-section-1 .u-custom-html-1 {
    width: 540px;
  }

  .u-section-1 .u-custom-html-3 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    min-height: 1215px;
  }

  .u-section-1 .u-custom-html-1 {
    width: 340px;
  }

  .u-section-1 .u-custom-html-2 {
    width: 340px;
  }

  .u-section-1 .u-custom-html-3 {
    width: 340px;
  }
}