 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1097px;
}

.u-section-1 .u-group-1 {
  min-height: 1097px;
  width: 1140px;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 25px;
}

.u-section-1 .u-list-1 {
  width: 817px;
  grid-template-rows: auto;
  grid-auto-rows: 100%;
  margin: 0 auto 0 203px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  min-height: 686px;
  grid-gap: 0px 0px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 28px 0 0;
}

.u-section-1 .u-text-1 {
  font-size: 1.125rem;
  text-transform: uppercase;
  background-image: none;
  font-weight: 700;
  font-family: Raleway, sans-serif;
  margin: 20px 4px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1rem;
  letter-spacing: 0.2px;
  background-image: none;
  font-weight: 300;
  font-family: Raleway, sans-serif;
  margin: 20px 2px 0 0;
}

.u-section-1 .u-image-1 {
  height: 138px;
  width: 138px;
  object-position: 50% 0%;
  margin: 20px 118px 0 -3px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 28px 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.125rem;
  text-transform: uppercase;
  background-image: none;
  font-weight: 700;
  font-family: Raleway, sans-serif;
  margin: 20px 4px 0 0;
}

.u-section-1 .u-text-4 {
  font-size: 1rem;
  letter-spacing: 0.2px;
  background-image: none;
  font-weight: 300;
  font-family: Raleway, sans-serif;
  margin: 20px 2px 0 0;
}

.u-section-1 .u-image-2 {
  height: 138px;
  width: 138px;
  object-position: 50% 0%;
  margin: 20px 118px 0 -3px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 28px 0 0;
}

.u-section-1 .u-text-5 {
  font-size: 1.125rem;
  text-transform: uppercase;
  background-image: none;
  font-weight: 700;
  font-family: Raleway, sans-serif;
  margin: 20px 4px 0 0;
}

.u-section-1 .u-text-6 {
  font-size: 1rem;
  letter-spacing: 0.2px;
  background-image: none;
  font-weight: 300;
  font-family: Raleway, sans-serif;
  margin: 20px 2px 0 0;
}

.u-section-1 .u-image-3 {
  height: 138px;
  width: 138px;
  margin: 20px 118px 0 -3px;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px 28px 0 0;
}

.u-section-1 .u-text-7 {
  font-size: 1.125rem;
  text-transform: uppercase;
  background-image: none;
  font-weight: 700;
  font-family: Raleway, sans-serif;
  margin: 20px 4px 0 0;
}

.u-section-1 .u-text-8 {
  font-size: 1rem;
  letter-spacing: 0.2px;
  background-image: none;
  font-weight: 300;
  font-family: Raleway, sans-serif;
  margin: 20px 2px 0 0;
}

.u-section-1 .u-image-4 {
  height: 138px;
  width: 138px;
  object-position: 50% 0%;
  margin: 20px 118px 0 -3px;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px 28px 0 0;
}

.u-section-1 .u-text-9 {
  font-size: 1.125rem;
  text-transform: uppercase;
  background-image: none;
  font-weight: 700;
  font-family: Raleway, sans-serif;
  margin: 20px 4px 0 0;
}

.u-section-1 .u-text-10 {
  font-size: 1rem;
  letter-spacing: 0.2px;
  background-image: none;
  font-weight: 300;
  font-family: Raleway, sans-serif;
  margin: 20px 2px 0 0;
}

.u-section-1 .u-image-5 {
  height: 138px;
  width: 138px;
  object-position: 50% 0%;
  margin: 20px 118px 0 -3px;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px 28px 0 0;
}

.u-section-1 .u-text-11 {
  font-size: 1.125rem;
  text-transform: uppercase;
  background-image: none;
  font-weight: 700;
  font-family: Raleway, sans-serif;
  margin: 20px 4px 0 0;
}

.u-section-1 .u-text-12 {
  font-size: 1rem;
  letter-spacing: 0.2px;
  background-image: none;
  font-weight: 300;
  font-family: Raleway, sans-serif;
  margin: 20px 2px 0 0;
}

.u-section-1 .u-image-6 {
  height: 138px;
  width: 138px;
  object-position: 50% 0%;
  margin: 20px 118px 0 -3px;
}

.u-section-1 .u-list-2 {
  width: 844px;
  grid-template-rows: auto;
  grid-auto-rows: 100%;
  margin: 8px auto 0 190px;
}

.u-section-1 .u-repeater-2 {
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  min-height: 402px;
  grid-gap: 0px 0px;
}

.u-section-1 .u-container-layout-8 {
  padding: 30px 0 0;
}

.u-section-1 .u-text-13 {
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: 700;
  font-family: Raleway, sans-serif;
  margin: 20px 12px 0;
}

.u-section-1 .u-text-14 {
  letter-spacing: 1px;
  font-size: 1rem;
  font-weight: 300;
  font-family: Raleway, sans-serif;
  margin: 20px 12px 0 10px;
}

.u-section-1 .u-image-7 {
  height: 138px;
  width: 138px;
  object-position: 50% 0%;
  margin: 20px 136px 0 7px;
}

.u-section-1 .u-container-layout-9 {
  padding: 30px 0 0;
}

.u-section-1 .u-text-15 {
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: 700;
  font-family: Raleway, sans-serif;
  margin: 20px 12px 0;
}

.u-section-1 .u-text-16 {
  letter-spacing: 1px;
  font-size: 1rem;
  font-weight: 300;
  font-family: Raleway, sans-serif;
  margin: 20px 12px 0 10px;
}

.u-section-1 .u-image-8 {
  height: 138px;
  width: 138px;
  object-position: 50% 0%;
  margin: 20px 136px 0 7px;
}

.u-section-1 .u-container-layout-10 {
  padding: 30px 0 0;
}

.u-section-1 .u-text-17 {
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: 700;
  font-family: Raleway, sans-serif;
  margin: 20px 12px 0;
}

.u-section-1 .u-text-18 {
  letter-spacing: 1px;
  font-size: 1rem;
  font-weight: 300;
  font-family: Raleway, sans-serif;
  margin: 20px 12px 0 10px;
}

.u-section-1 .u-image-9 {
  height: 138px;
  width: 138px;
  margin: 20px 136px 0 7px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    width: calc(((100% - 1140px) / 2) + 990px);
  }

  .u-section-1 .u-list-1 {
    margin-left: 73px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 16px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 0;
  }

  .u-section-1 .u-text-1 {
    margin-right: 28px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 28px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-3 {
    padding-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 28px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 28px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-4 {
    padding-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 28px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 28px;
  }

  .u-section-1 .u-image-3 {
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-5 {
    padding-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-right: 28px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 28px;
  }

  .u-section-1 .u-image-4 {
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-6 {
    padding-right: 0;
  }

  .u-section-1 .u-text-9 {
    margin-right: 28px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 28px;
  }

  .u-section-1 .u-image-5 {
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-7 {
    padding-right: 0;
  }

  .u-section-1 .u-text-11 {
    margin-right: 28px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 28px;
  }

  .u-section-1 .u-image-6 {
    margin-left: 0;
  }

  .u-section-1 .u-list-2 {
    margin-left: 46px;
  }

  .u-section-1 .u-repeater-2 {
    min-height: 409px;
  }

  .u-section-1 .u-text-13 {
    font-size: 1rem;
    margin-top: 0;
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-1 .u-text-14 {
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-1 .u-image-7 {
    margin-right: 23px;
    margin-left: 0;
  }

  .u-section-1 .u-text-15 {
    font-size: 1rem;
    margin-top: 0;
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-1 .u-text-16 {
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-1 .u-image-8 {
    margin-right: 23px;
    margin-left: 0;
  }

  .u-section-1 .u-text-17 {
    font-size: 1rem;
    margin-top: 0;
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-1 .u-text-18 {
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-1 .u-image-9 {
    margin-right: 23px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 670px;
    min-height: 2428px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-list-1 {
    width: 573px;
    margin-right: -13px;
    margin-left: auto;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 50% 50%;
    min-height: 1476px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    margin-right: 0;
  }

  .u-section-1 .u-text-9 {
    margin-right: 0;
  }

  .u-section-1 .u-text-10 {
    margin-right: 0;
  }

  .u-section-1 .u-text-11 {
    margin-right: 0;
  }

  .u-section-1 .u-text-12 {
    margin-right: 0;
  }

  .u-section-1 .u-list-2 {
    width: 670px;
    margin-left: 0;
  }

  .u-section-1 .u-repeater-2 {
    grid-template-columns: 50% 50%;
    min-height: 944px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-14 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-image-7 {
    margin-right: 45px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-16 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-image-8 {
    margin-right: 45px;
  }

  .u-section-1 .u-text-17 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-18 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-image-9 {
    margin-right: 45px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 520px;
    min-height: 4310px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-1 .u-list-1 {
    width: 282px;
    margin-right: 53px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 2916px;
  }

  .u-section-1 .u-list-2 {
    width: 520px;
  }

  .u-section-1 .u-repeater-2 {
    grid-template-columns: 100%;
    min-height: 1356px;
  }

  .u-section-1 .u-text-13 {
    width: auto;
    margin-top: 8px;
    margin-right: -191px;
    margin-left: 191px;
  }

  .u-section-1 .u-text-14 {
    width: auto;
    margin-top: 0;
    margin-right: -191px;
    margin-left: 191px;
  }

  .u-section-1 .u-image-7 {
    margin-top: 22px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-15 {
    width: auto;
    margin-top: 8px;
    margin-right: -191px;
    margin-left: 191px;
  }

  .u-section-1 .u-text-16 {
    width: auto;
    margin-top: 0;
    margin-right: -191px;
    margin-left: 191px;
  }

  .u-section-1 .u-image-8 {
    margin-top: 22px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-17 {
    width: auto;
    margin-top: 8px;
    margin-right: -191px;
    margin-left: 191px;
  }

  .u-section-1 .u-text-18 {
    width: auto;
    margin-top: 0;
    margin-right: -191px;
    margin-left: 191px;
  }

  .u-section-1 .u-image-9 {
    margin-top: 22px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 320px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-1 .u-list-1 {
    width: 190px;
    margin-top: -9px;
    margin-right: auto;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 2923px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 21px;
  }

  .u-section-1 .u-image-1 {
    height: 150px;
    width: 150px;
    margin-right: 173px;
    margin-left: -3px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 21px;
  }

  .u-section-1 .u-image-2 {
    height: 150px;
    width: 150px;
    margin-right: 173px;
    margin-left: -3px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 21px;
  }

  .u-section-1 .u-image-3 {
    height: 150px;
    width: 150px;
    margin-right: 173px;
    margin-left: -3px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 21px;
  }

  .u-section-1 .u-image-4 {
    height: 150px;
    width: 150px;
    margin-right: 173px;
    margin-left: -3px;
  }

  .u-section-1 .u-text-9 {
    margin-top: 21px;
  }

  .u-section-1 .u-image-5 {
    height: 150px;
    width: 150px;
    margin-right: 173px;
    margin-left: -3px;
  }

  .u-section-1 .u-text-11 {
    margin-top: 21px;
  }

  .u-section-1 .u-image-6 {
    height: 150px;
    width: 150px;
    margin-right: 173px;
    margin-left: -3px;
  }

  .u-section-1 .u-list-2 {
    width: 320px;
    margin-top: 10px;
  }

  .u-section-1 .u-text-13 {
    margin-right: -58px;
    margin-left: 58px;
  }

  .u-section-1 .u-text-14 {
    margin-right: -249px;
    margin-left: 58px;
  }

  .u-section-1 .u-image-7 {
    margin-top: 20px;
    margin-left: 65px;
  }

  .u-section-1 .u-text-15 {
    margin-right: -58px;
    margin-left: 58px;
  }

  .u-section-1 .u-text-16 {
    margin-right: -249px;
    margin-left: 58px;
  }

  .u-section-1 .u-image-8 {
    margin-top: 20px;
    margin-left: 65px;
  }

  .u-section-1 .u-text-17 {
    margin-right: -58px;
    margin-left: 58px;
  }

  .u-section-1 .u-text-18 {
    margin-right: -249px;
    margin-left: 58px;
  }

  .u-section-1 .u-image-9 {
    margin-top: 20px;
    margin-left: 65px;
  }
}